@use "../../../shared/styles/mixins";

.sidebar {
  @include mixins.flex(column, space-between, unset);
  width: 14.5rem;
  height: 100dvh;
  background-color: var(--color-blue-ebony);
  overflow-y: auto;
}

.logo {
  @include mixins.flex(row, center, center);
  @include mixins.padding(4rem, 0, 4rem, 0);

  img {
    width: 6.25rem;
    height: 7.5rem;
  }
}

nav {
  @include mixins.flex(column, center, unset);
  gap: 0.9375rem;

  img {
    cursor: pointer;
  }
}

.policy {
  @include mixins.flex(column, center, center);
  @include mixins.padding(4rem, 0, 4rem, 0);
  @include mixins.font(0.75rem, 400, 1.2rem, var(--color-gray-700));
  gap: 0.25rem;

  span {
    padding: 0.5rem;
    cursor: pointer;
  }

  span:hover {
    text-decoration: underline;
  }
}

@media (max-width: 79.9375rem) {
  .sidebar {
    width: 100%;
    max-width: 90rem;
    height: 5rem;
    overflow: hidden;
  }

  .logo {
    display: none;
  }

  .policy {
    display: none;
  }

  nav {
    @include mixins.flex(row, space-between, center);
    @include mixins.padding(0.125rem, 1rem, 0.125rem, 1rem);
  }
}
