@import "../../shared/styles/mixins";

.user-page {
  @include flex(row, none, none);
}

.content-container {
  @include flex(column, none, none);
  width: 100%;
  height: 100dvh;
}

.content {
  @include flex(row, center, center);
  flex-grow: 1;
}
