@import "../../shared/styles/mixins";

.user-page {
  display: grid;
  grid-template-columns: 14.5rem 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "sidebar header" "sidebar main";
  overflow: hidden;
}

header {
  grid-area: header;
  overflow: hidden;
}

aside {
  grid-area: sidebar;
  overflow: hidden;
}

main {
  grid-area: main;
  overflow: hidden;
  // height: 100%; // Take full height of grid area
  // display: flex; // Important for router-outlet content
  // flex-direction: column;
}

// router-outlet {
//   display: block;
//   height: 0; // Router outlet itself doesn't take space
// }

// router-outlet + * {
//   flex: 1; // Router outlet rendered content takes all available space
//   height: 100%; // Ensure full height
//   min-height: 0; // Critical for flex children to enable overflow
//   overflow: hidden; // Handle overflow at component level
// }

:host {
  display: flex;
  flex-direction: column;
  flex: 1; /* Take available space */
  overflow: hidden;
  max-height: 100%; /* Prevent stretching */
}
