@import "../../../../../../shared/styles/mixins";

.task {
  @include flex(column, space-between, flex-start);
  @include border(0.0625rem, solid, #d1d1d1);
  padding: 1rem;
  width: 100%;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: 1.5rem;
  flex-shrink: 0; // Prevent task cards from shrinking
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:last-child {
    margin-bottom: 0.25rem; // Less margin on last item
  }
}

.category {
  @include flex(row, center, center);
  @include font(1rem, 400, 1.2rem, #fff);
  @include padding(0.25rem, 1rem, 0.25rem, 1rem);
  border-radius: 0.5rem;
}

.title {
  @include font(1rem, 700, 1.2rem, #000);
}

.description {
  @include font(1rem, 400, 1.2rem, #ababab);
  width: 100%;
  max-height: 200px;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.subtask {
  @include flex(row, space-between, center);
  @include font(0.75rem, 400, 1.2rem, #000);
  width: 100%;
  gap: 0.625rem;
}

.progress-bar {
  background-color: #f4f4f4;
  width: 60%;
  // height: 0.5rem;
  border-radius: 0.5rem;
}

.assigned-to-status-container {
  @include flex(row, space-between, center);
  width: 100%;
}

.assigned-to {
  @include flex(row, flex-start, center);

  span {
    @include flex(row, center, center);
    @include font(0.75rem, 400, 1.2rem, #fff);
    @include border(0.125rem, solid, #fff);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-left: -10px;
  }
}

@media (max-width: 62.5rem) {
  .task {
    width: 252px;
  }
}
