@use "../../../../../../shared/styles/mixins";

.task {
  @include mixins.flex(column, space-between, flex-start);
  @include mixins.border(0.0625rem, solid, var(--color-gray-500));
  padding: 1rem;
  width: 100%;
  max-height: 18.75rem;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: 1.5rem;
  flex-shrink: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:last-child {
    margin-bottom: 0.25rem;
  }
}

.category {
  @include mixins.flex(row, center, center);
  @include mixins.font(1rem, 400, 1.2rem, var(--color-white));
  @include mixins.padding(0.25rem, 1rem, 0.25rem, 1rem);
  border-radius: 0.5rem;
}

.title {
  @include mixins.font(1rem, 700, 1.2rem, var(--color-black));
}

.description {
  @include mixins.font(1rem, 400, 1.2rem, var(--color-gray-700));
  width: 100%;
  max-height: 12.5rem;
  overflow-wrap: break-word;
  overflow-y: hidden;
}

.subtask {
  @include mixins.flex(row, space-between, center);
  @include mixins.font(0.75rem, 400, 1.2rem, var(--color-black));
  width: 100%;
  gap: 0.625rem;
}

.progress-bar {
  background-color: var(--color-gray-200);
  width: 60%;
  border-radius: 0.5rem;
}

.assigned-to-status-container {
  @include mixins.flex(row, space-between, center);
  width: 100%;
}

.assigned-to {
  @include mixins.flex(row, flex-start, center);

  span {
    @include mixins.flex(row, center, center);
    @include mixins.font(0.75rem, 400, 1.2rem, var(--color-white));
    @include mixins.border(0.125rem, solid, var(--color-white));
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-left: -0.625rem;
  }
}

@media (max-width: 62.5rem) {
  .task {
    width: 15.75rem;
    scroll-snap-align: start;
    flex-shrink: 0;
  }
}
