@use "../../../../shared/styles/mixins";

.task-main {
  @include mixins.flex(column, center, center);
  width: 100%;
  height: 100%;
}

.task-container {
  width: 80%;
  height: 95%;
  max-height: 46.875rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.75fr 2.5fr 0.75fr;
}

.task-header {
  @include mixins.flex(row, flex-start, center);
  width: 100%;
  height: 100%;

  h2 {
    @include mixins.font(3.8125rem, 700, 4.575rem);
  }
}

footer {
  @include mixins.flex(row, center, flex-end);
  width: 100%;
}

.task-footer {
  @include mixins.flex(row, space-between, flex-end);
  width: 100%;
}

.required-text {
  @include mixins.flex(row, unset, unset);
}

.buttons {
  @include mixins.flex(row, space-between, center);
  gap: 1rem;
}

.clear {
  @include mixins.font(1.25rem, 400, 1.5rem, var(--color-blue-ebony));
  background-color: var(--color-white);

  &:hover {
    @include mixins.border(0.0625rem, solid, var(--color-blue-100));
    color: var(--color-blue-100);
    background-color: var(--color-white);
  }

  span {
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.task-create {
  @include mixins.flex(row, center, center);
  @include mixins.font(1.25rem, 400, 120%, var(--color-white));
  width: 20.375rem;
  height: 4.625rem;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  transform: translate(-50%, 200%);
  transition:
    transform 2s ease,
    opacity 2s ease;
  background-color: var(--color-blue-ebony);
  box-shadow: 0px 0px 4px 0px var(--color-black) 0001a;
  border-radius: 1.25rem;
  opacity: 0;
}

.show {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.hide {
  transform: translate(-50%, 200%);
  opacity: 0;
}

@media (max-height: 53.75rem) or (max-width: 79.9375rem) {
  .task-main {
    @include mixins.flex(column, flex-start, center);
    padding-top: 1rem;
    overflow-y: auto;
  }

  .task-header {
    @include mixins.flex(row, center, center);
    width: 100%;

    h2 {
      width: 90%;
      max-width: 45rem;
    }
  }

  .task-container {
    width: 100%;
    gap: 1rem;
  }

  footer {
    padding-bottom: 1rem;
  }

  .task-footer {
    @include mixins.flex(row, flex-end, center);
    width: 90%;
  }

  .required-text {
    display: none;
  }
}
