@import "../../../../shared/styles/mixins";

.task-main {
  @include flex(column, center, center);
  width: 100%;
  height: 100%;
}

.task-container {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.75fr 2.5fr 0.75fr;
}

.task-headline {
  @include flex(row, flex-start, center);
  width: 100%;
  height: 100%;

  h1 {
    @include font(3.8125rem, 700, 4.575rem);
  }
}

.task-buttons {
  @include flex(row, none, flex-end);
  width: 100%;
  height: 100%;
}

.create-task {
  @include flex(row, space-between, flex-end);
  width: 100%;
}

.required-text {
  @include flex(row, none, none);
}

.buttons {
  @include flex(row, space-between, center);
  gap: 1rem;
}

.clear {
  @include font(1.25rem, 400, 1.5rem);
  background-color: #fff;
  color: #2a3647;

  span {
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.red {
  color: red;
}
