<main class="task-main">
  <div class="task-container">
    <section class="task-headline">
      <h1>Add Task</h1>
    </section>
    <section class="task-content">
      <app-task-form (submit)="addTask()"></app-task-form>
    </section>
    <section class="task-buttons">
      <div class="create-task">
        <span class="required-text"
          ><span class="red">*</span>This field is required</span
        >
        <div class="buttons">
          <button
            appButton
            class="clear"
            (click)="clearTask()"
            (mouseover)="clearButtonHover = true"
            (mouseleave)="clearButtonHover = false"
          >
            Cancel
            <span ngProjectAs="[icon]"
              ><img
                [src]="
                  clearButtonHover
                    ? 'assets/img/iconoir_cancel-blue.png'
                    : 'assets/img/iconoir_cancel.png'
                "
                alt=""
            /></span>
          </button>
          <button appButton class="create" (click)="addTask()">
            Create Task
            <span ngProjectAs="[icon]"
              ><img src="assets/img/check.png" alt="checkmark"
            /></span>
          </button>
        </div>
      </div>
    </section>
  </div>
</main>
