<div class="login-form" [formGroup]="loginForm">
  <div class="headline">
    <h1>Log In</h1>
    <img src="assets/img/blue-line.png" alt="blue underline" />
  </div>

  @if (loadingUser()) {
    <div class="spinner-container">
      <mat-spinner diameter="48"></mat-spinner>
    </div>
  } @else {
    <form class="form" name="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-container">
        <div class="input">
          <input
            type="email"
            placeholder="Email"
            name="email"
            formControlName="email"
          />
          <img class="input-icon" src="assets/img/mail.png" alt="" />
        </div>
        @if (wrongEmail()) {
          <span class="red">Wrong email</span>
        }
      </div>
      <div class="input-container">
        <div class="input">
          <input
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
            name="password"
            formControlName="password"
            (focus)="toggleFocusPassword()"
          />
          <img
            class="input-icon"
            [src]="passwordImage"
            alt=""
            (mousedown)="togglePassword()"
          />
        </div>
        @if (wrongPassword()) {
          <span class="red">Wrong password</span>
        }
      </div>

      <div class="remember-me" (click)="toggleRememberMe()">
        <img
          [src]="
            rememberMe
              ? 'assets/img/checkmark-normal-marked.png'
              : 'assets/img/checkmark-normal-empty.png'
          "
          alt="remember me"
        />
        <span>Remember me</span>
      </div>
    </form>
  }

  <div class="buttons">
    <button class="log-in-button" (click)="onSubmit()" [disabled]="isLoading">
      Log in
    </button>
    <button class="guest-button" (click)="guestLogin()" [disabled]="isLoading">
      Guest Log in
    </button>
  </div>
</div>
