@use "@angular/material" as mat;
@import "../../../../shared/styles/mixins";

.login-form {
  @include flex(column, center, center);
  @include padding(3rem, 7.1875rem, 3rem, 7.1875rem);
  background-color: var(--color-white);
  gap: 1.5rem;
  border-radius: 1.875rem;
  box-shadow: 0rem 0rem 0.875rem 0.1875rem var(--color-black) 0000a;
}

.headline {
  @include flex(column, none, center);
  gap: 1rem;

  h1 {
    @include font(3.75rem, 700, 4.5625rem);
  }
}

.form {
  @include flex(column, unset, unset);
  width: 26.375rem;
  height: 9.375rem;
  gap: 1.25rem;
}

.input {
  position: relative;

  > input {
    @include border(0.0625rem, solid, var(--color-gray-500));
    @include padding(0.75rem, 1.3125rem, 0.75rem, 1.3125rem);
    border-radius: 0.5rem;
    width: 100%;

    &::placeholder {
      color: var(--color-gray-500);
      font-size: 1.25rem;
    }
  }

  > .input-icon {
    position: absolute;
    top: 50%;
    right: 1.1rem;
    transform: translateY(-50%);
  }
}

.remember-me {
  @include flex(row, center, center);
  gap: 0.5rem;
  cursor: pointer;
}

.buttons {
  @include flex(row, center, center);
  width: 100%;
  gap: 2.1875rem;
}

.log-in-button {
  &:hover {
    @include border(0.0625rem, solid, var(--color-blue-100));
    background-color: var(--color-blue-100);
  }
}

.guest-button {
  background-color: var(--color-white);
  color: var(--color-blue-ebony);

  &:hover {
    @include border(0.0625rem, solid, var(--color-blue-100));
    color: var(--color-blue-100);
  }
}

.red {
  @include font(0.6rem, 400, 120%, var(--color-red));
  padding-left: 0.5rem;
}

.spinner-container {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: rgb(0, 0, 0),
    )
  );
  @include flex(row, center, center);
  width: 26.375rem;
  height: 9.375rem;
}

@media (max-height: 53.75rem) or (max-width: 79.9375rem) {
  :host {
    transform: scale(0.8);
  }
}

@media (max-width: 79.9375rem) {
  .login-form {
    @include padding(2rem, 2rem, 2rem, 2rem);
  }

  .buttons {
    @include flex(column, center, center);
    gap: 1.3125rem;

    button {
      width: 50%;
    }
  }
}
