<div class="login-form" [formGroup]="loginForm">
  <div class="headline">
    <h1>Log In</h1>
    <img src="assets/img/blue-line.png" alt="blue underline" />
  </div>

  <form class="form" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <input
        type="email"
        placeholder="Email"
        name="email"
        formControlName="email"
        [class]="wrongEmail() ? 'input-error' : ''"
      />
      <img class="input-icon" src="assets/img/mail.png" alt="" />
    </div>
    <div class="input-container">
      <input
        id="password"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Password"
        name="password"
        formControlName="password"
        [class]="wrongPassword() ? 'input-error' : ''"
        (focus)="toggleFocusPassword()"
      />
      <img
        class="input-icon"
        [src]="passwordImage"
        alt=""
        (mousedown)="togglePassword()"
      />
    </div>
  </form>

  <div class="remember-me" (click)="toggleRememberMe()">
    <img
      [src]="
        rememberMe
          ? 'assets/img/checkmark-normal-marked.png'
          : 'assets/img/checkmark-normal-empty.png'
      "
      alt="remember me"
    />
    <span>Remember me</span>
  </div>

  <div class="buttons">
    <button class="log-in-button" (click)="onSubmit()" [disabled]="isLoading">
      Log in
    </button>
    <button class="guest-button" (click)="guestLogin()" [disabled]="isLoading">
      Guest Log in
    </button>
  </div>
</div>
