@import "../../../../shared/styles/mixins";

.login-form {
  @include flex(column, center, center);
  @include padding(3rem, 7.1875rem, 3rem, 7.1875rem);
  background-color: #fff;
  gap: 1.5rem;
  border-radius: 1.875rem;
  box-shadow: 0rem 0rem 0.875rem 0.1875rem #0000000a;
}

.headline {
  @include flex(column, none, center);
  gap: 1rem;

  h1 {
    @include font(3.75rem, 700, 4.5625rem);
  }
}

.form {
  @include flex(column, none, none);
  width: 26.375rem;
  gap: 1.25rem;
}

.input {
  position: relative;

  > input {
    @include border(0.0625rem, solid, #d1d1d1);
    @include padding(0.75rem, 1.3125rem, 0.75rem, 1.3125rem);
    border-radius: 0.5rem;
    width: 100%;

    &::placeholder {
      color: #d1d1d1;
      font-size: 1.25rem;
    }
  }

  > .input-icon {
    position: absolute;
    top: 50%;
    right: 1.1rem;
    transform: translateY(-50%);
  }
}

.remember-me {
  @include flex(row, center, center);
  gap: 0.5rem;
  cursor: pointer;
}

.buttons {
  @include flex(row, center, center);
  width: 100%;
  gap: 2.1875rem;
}

.log-in-button {
  &:hover {
    @include border(0.0625rem, solid, #29abe2);
    background-color: #29abe2;
  }
}

.guest-button {
  background-color: #fff;
  color: #2a3647;

  &:hover {
    @include border(0.0625rem, solid, #29abe2);
    color: #29abe2;
  }
}

.red {
  @include font(0.6rem, 400, 120%, #ff0000);
}

@media (max-height: 860px) {
  .login-form {
    transform: scale(0.8);
  }
}
