<div class="container">
  <div class="top">
    <img src="assets/img/logo.svg" alt="logo" />
    <div class="to-sign-up">
      @if (!signUpActive()) {
        <span>Not a Join user?</span>
        <button (click)="viewSignUp()">Sign up</button>
      }
    </div>
  </div>

  @if (!signUpActive()) {
    <app-log-in />
  } @else {
    <app-sign-up />
  }

  <div class="bottom">
    <div class="policy">
      <span (click)="viewPrivacyPolicy()">Privacy Policy</span>
      <span (click)="viewLegalNotice()">Legal Notice</span>
    </div>
  </div>

  @if (legalNoticeActive() || privacyPolicyActive()) {
    <div class="legal-privacy-container">
      @if (legalNoticeActive()) {
        <app-legal-notice />
      }
      @if (privacyPolicyActive()) {
        <app-privacy-policy />
      }
    </div>
  }
</div>
