<div class="sign-up-form" [formGroup]="signupForm">
  <div class="headline">
    <h1>Sign up</h1>
    <img src="assets/img/blue-line.png" alt="blue underline" />
  </div>

  <form class="form" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <input
        type="text"
        placeholder="Name"
        name="displayName"
        formControlName="displayName"
      />
      <img class="input-icon" src="assets/img/person.png" alt="display name" />
    </div>
    <div class="input-container">
      <input
        type="text"
        placeholder="Email"
        name="email"
        formControlName="email"
      />
      <img class="input-icon" src="assets/img/mail.png" alt="email" />
    </div>
    <div class="input-container" formGroupName="passwords">
      <input
        type="password"
        placeholder="Password"
        name="password"
        formControlName="password"
      />
      <img class="input-icon" src="assets/img/lock.png" alt="password" />
    </div>
    <div class="input-container" formGroupName="passwords">
      <input
        type="password"
        placeholder="Confirm Password"
        name="confirmPassword"
        formControlName="confirmPassword"
      />
      <img
        class="input-icon"
        src="assets/img/lock.png"
        alt="confirm password"
      />
    </div>
  </form>

  <div class="policy-checkbox">
    @if (policy) {
      <img
        (click)="checkPolicy()"
        src="assets/img/checkmark-normal-marked.png"
        alt="policy checked"
      />
    } @else {
      <img
        (click)="checkPolicy()"
        src="assets/img/checkmark-normal-empty.png"
        alt="policy unchecked"
      />
    }
    <span>I accept the <a>Privacy Policy</a></span>
  </div>

  <div class="buttons">
    <button (click)="onSubmit()" [disabled]="isLoading">Sign up</button>
  </div>

  <div class="back-to-log-in">
    <img
      (click)="backToLogIn()"
      src="assets/img/arrow-blue.png"
      alt="back to log in"
    />
  </div>
</div>
