<div class="sign-up-form" [formGroup]="signupForm">
  <div class="headline">
    <h1>Sign up</h1>
    <img src="assets/img/blue-line.png" alt="blue underline" />
  </div>

  <form class="form" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <div class="input">
        <input
          type="text"
          placeholder="Name"
          name="displayName"
          formControlName="displayName"
          [style]="
            formValid.displayName.invalid && formValid.displayName.touched
              ? 'border-color: #ff8190'
              : ''
          "
        />
        <img
          class="input-icon"
          src="assets/img/person.png"
          alt="display name"
        />
      </div>
    </div>
    <div class="input-container">
      <div class="input">
        <input
          type="text"
          placeholder="Email"
          name="email"
          formControlName="email"
          [style]="
            formValid.email.invalid && formValid.email.touched
              ? 'border-color: #ff8190'
              : ''
          "
        />
        <img class="input-icon" src="assets/img/mail.png" alt="email" />
      </div>
      @if (emailUnavailable()) {
        <span class="red">This email is already in use</span>
      }
    </div>
    <div class="input-container">
      <div class="input" formGroupName="passwords">
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
          name="password"
          formControlName="password"
          (focus)="toggleFocusPassword()"
          [style]="
            formValid.passwords.get('password')?.invalid &&
            formValid.passwords.get('password')?.touched
              ? 'border-color: #ff8190'
              : ''
          "
        />
        <img
          class="input-icon"
          [src]="passwordImage"
          alt="password"
          (click)="togglePassword()"
        />
      </div>
      @if (
        formValid.passwords.get("password")?.invalid &&
        formValid.passwords.get("password")?.touched
      ) {
        <span class="red">Password must contain at least 6 characters</span>
      }
    </div>
    <div class="input-container">
      <div class="input" formGroupName="passwords">
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          placeholder="Confirm Password"
          name="confirmPassword"
          formControlName="confirmPassword"
          (focus)="toggleFocusConfirmPassword()"
          [style]="
            formValid.passwords.invalid && formValid.passwords.touched
              ? 'border-color: #ff8190'
              : ''
          "
        />
        <img
          class="input-icon"
          [src]="confirmPasswordImage"
          alt="confirm password"
          (click)="toggleConfirmPassword()"
        />
      </div>
    </div>
  </form>

  <div class="policy-checkbox">
    @if (policy) {
      <img
        (click)="checkPolicy()"
        src="assets/img/checkmark-normal-marked.png"
        alt="policy checked"
      />
    } @else {
      <img
        (click)="checkPolicy()"
        src="assets/img/checkmark-normal-empty.png"
        alt="policy unchecked"
      />
    }
    <span>I accept the <a>Privacy Policy</a></span>
  </div>

  <div class="buttons">
    <button
      (click)="upgradeMenu() ? upgradeToFullUser() : onSubmit()"
      [disabled]="isLoading"
    >
      Sign up
    </button>
  </div>

  <div class="back-to-log-in">
    <img
      (click)="backToLogIn()"
      src="assets/img/arrow-blue.png"
      alt="back to log in"
    />
  </div>
</div>
