@import "../../../../../../../shared/styles/mixins";
@import "../../styles/shared-form";

:host {
  width: 100%;
}

.subtasks {
  input {
    padding-right: 3rem;
  }
}

.subtasks-list-container {
  width: 100%;
  height: 65px;
  overflow-y: auto;
}

.subtask-text {
  width: 100%;
}
