<div class="subtasks task-input-textarea" [formGroup]="taskForm()">
  <span>Subtasks</span>
  <div class="pr-input-container">
    <input
      type="text"
      name="subtask"
      placeholder="Add new subtasks"
      formControlName="subtask"
    />
    <img
      class="input-icon"
      src="assets/img/subtasks_add.png"
      alt="Add subtask"
      (click)="addSubtask()"
    />
  </div>
  <div class="subtasks-list-container">
    @for (subtask of subTasks(); track subtask) {
      <ul class="subtasks-list">
        <li class="subtask-text">{{ subtask }}</li>
      </ul>
    }
  </div>
</div>
