@import "../../../../../../../shared/styles/mixins";
@import "../../styles/shared-form";

:host {
  width: 100%;
}

.subtasks {
  input {
    padding-right: 3rem;
  }
}

.subtasks-list-container {
  width: 100%;
  max-height: 4.0625rem;
  overflow-y: auto;
}

.subtask-text {
  @include flex(row, space-between, center);
  @include font(1rem, 400, 120%, #000);
  @include padding(0, 0.5rem, 0, 0);
  width: 100%;

  img {
    cursor: pointer;
  }
}

@media (max-height: 53.75rem) or (max-width: 79.9375rem) {
  .subtasks-list-container {
    max-height: 10rem;
  }

  .subtask-text {
    @include padding(0.5rem, 0.5rem, 0.5rem, 0);
  }
}
