<div class="task-container">
  <div class="task-header">
    <span>{{ title() }}</span>
    <img src="assets/img/plus_button.png" alt="Add task to {{ title() }}" />
  </div>
  <div class="task-list">
    @if (filteredTasks().length > 0) {
      @for (task of filteredTasks(); track task.id) {
        <div class="task">
          <span>{{ task.category }}</span>
          <span>{{ task.title }}</span>
          <span>{{ task.description }}</span>
          <div class="assigned-to-status-container">
            <output class="assigned-to">
              @for (assigned of task.assignedTo; track assigned.initials) {
                <span
                  class="assigned-initials"
                  [style]="'background-color: ' + assigned.color"
                  >{{ assigned.initials }}</span
                >
              }
            </output>
            <img
              [src]="'assets/img/prio-' + task.priority.toLowerCase() + '.png'"
              alt=""
            />
          </div>
        </div>
      }
    } @else {
      <div class="no-task">No tasks {{ title() }}</div>
    }
  </div>
</div>
