<div class="task-container">
  <div class="task-header">
    <span>{{ title() }}</span>
    <img src="assets/img/plus_button.png" alt="Add task to {{ title() }}" />
  </div>
  <div
    [id]="status()"
    class="task-list"
    cdkDropList
    [cdkDropListData]="filteredTasks()"
    [cdkDropListConnectedTo]="connectedList"
    (cdkDropListDropped)="drop($event, status())"
  >
    @if (filteredTasks().length > 0) {
      @for (task of filteredTasks(); track task.id) {
        <div class="task" cdkDrag>
          <span
            class="category"
            [style]="
              task.category === 'User Story'
                ? 'background-color: #0038FF;'
                : 'background-color: #1FD7C1;'
            "
            >{{ task.category }}</span
          >
          <span class="title">{{ task.title }}</span>
          <span class="description">{{ task.description }}</span>
          @if (getOpenSubtasks(task).length > 0) {
            <div class="subtask">
              <!-- <output
                class="progress-bar"
                [style]="'background-color: ' + task.color"
              ></output> -->
              <mat-progress-bar
                class="progress-bar"
                [mode]="mode"
                [value]="
                  getDoneSubtasks(task).length > 0
                    ? (getDoneSubtasks(task).length /
                        getOpenSubtasks(task).length) *
                      100
                    : 0
                "
              >
              </mat-progress-bar>
              <output class="subtasks-amount">
                {{ getDoneSubtasks(task).length }}/{{
                  getOpenSubtasks(task).length
                }}
                Subtasks
              </output>
            </div>
          }
          <div class="assigned-to-status-container">
            <output class="assigned-to">
              @for (assigned of task.assignedTo; track assigned.initials) {
                <span
                  class="assigned-initials"
                  [style]="'background-color: ' + assigned.color"
                  >{{ assigned.initials }}</span
                >
              }
            </output>
            <img
              [src]="'assets/img/prio-' + task.priority.toLowerCase() + '.png'"
              alt="Priority {{ task.priority }}"
            />
          </div>
        </div>
      }
    } @else {
      <div class="no-task">No tasks {{ title() }}</div>
    }
  </div>
</div>
