<div class="summary-display-container">
  <div class="top container">
    <div class="to-do-done summary-display"></div>
    <div class="to-do-done summary-display"></div>
  </div>

  <div class="middle">
    <div class="urgent summary-display"></div>
  </div>

  <div class="bottom container">
    <div class="board-progress-feedback summary-display"></div>
    <div class="board-progress-feedback summary-display"></div>
    <div class="board-progress-feedback summary-display"></div>
  </div>
</div>
