<section class="summary-display-container" aria-label="Task Summary Dashboard">
  <div class="top container">
    <button
      class="to-do-done summary-display hover"
      (mouseenter)="toDoHover = true"
      (mouseleave)="toDoHover = false"
      [routerLink]="['/board']"
      fragment="todo">
      <img [src]="toDoHover ? 'assets/img/to-do-hover.png' : 'assets/img/to-do.png'" alt="Tasks in to do" />
      <div>
        <output class="task-amount">{{ toDoAmount() }}</output>
        <span class="task-type">To-do</span>
      </div>
    </button>
    <button
      class="to-do-done summary-display hover"
      (mouseenter)="doneHover = true"
      (mouseleave)="doneHover = false"
      [routerLink]="['/board']"
      fragment="done">
      <img [src]="doneHover ? 'assets/img/done-hover.png' : 'assets/img/done.png'" alt="Tasks in done" />
      <div>
        <output class="task-amount">{{ doneAmount() }}</output>
        <span class="task-type">Done</span>
      </div>
    </button>
  </div>

  <div class="middle">
    <button class="urgent summary-display hover" [routerLink]="['/board']" fragment="urgent">
      <div class="urgent-amount-container">
        <img src="assets/img/urgent.png" alt="Urgent Tasks Icon" aria-hidden="true" />
        <div class="urgent-amount-text">
          <output class="task-amount">{{ urgentAmount() }}</output>
          <span class="task-type">Urgent</span>
        </div>
      </div>
      <div class="urgent-middle-line" aria-hidden="true"></div>
      <div class="task-deadline-container">
        @if (taskWithShortestDueDate() && urgentAmount()) {
          <time class="task-deadline-date" aria-live="polite">
            {{ taskWithShortestDueDate() | date: 'dd/MM/yyyy' }}
          </time>
          <span>Upcoming Deadline</span>
        } @else {
          <span>No Upcoming Deadlines</span>
        }
      </div>
    </button>
  </div>

  <div class="bottom container">
    <button class="board-progress-feedback summary-display hover" [routerLink]="['/board']" fragment="tasks-in-board">
      <output class="task-amount">{{ totalTasks() }}</output>
      <span class="task-type">Tasks in Board</span>
    </button>
    <button class="board-progress-feedback summary-display hover" [routerLink]="['/board']" fragment="in-progress">
      <output class="task-amount">{{ inProgressAmount() }}</output>
      <span class="task-type">Tasks in Progress</span>
    </button>
    <button
      class="board-progress-feedback summary-display hover"
      [routerLink]="['/board']"
      fragment="awaiting-feedback">
      <output class="task-amount">{{ awaitingFeedbackAmount() }}</output>
      <span class="task-type">Awaiting Feedback</span>
    </button>
  </div>
</section>
