@import "../../../../../shared/styles/mixins";

.summary-display-container {
  @include flex(column, space-between, space-between);
  width: 35rem; // placeholder
  height: 35rem; // placeholder
}

.container {
  @include flex(row, space-between, space-between);
}

.summary-display {
  background-color: #fff;
  box-shadow: 0px 0px 0.25rem 0px #0000001a;
  border-radius: 1.875rem;
  width: 264px; // placeholder
  height: 164px; // placeholder
}

.to-do-done {
  @include flex(row, center, center);
  width: 16.5rem;
  height: 10.5rem;

  div {
    @include flex(column, center, center);
  }
}

.urgent {
  width: 35rem;
  height: 10.5rem;
}

.board-progress-feedback {
  @include flex(column, center, center);
  width: 10.5rem;
  height: 10.5rem;
  text-wrap: wrap;
}
