@import "../../../../../shared/styles/mixins";

.summary-display-container {
  @include flex(column, space-between, space-between);
  width: 35rem; // placeholder
  height: 35rem; // placeholder
}

.container {
  @include flex(row, space-between, space-between);
}

.summary-display {
  background-color: #fff;
  box-shadow: 0px 0px 0.25rem 0px #0000001a;
  border-radius: 1.875rem;
  width: 264px; // placeholder
  height: 164px; // placeholder
}

.hover {
  &:hover {
    background-color: #2a3647;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);

    span,
    output {
      color: #fff;
    }
  }
}

.to-do-done {
  @include flex(row, center, center);
  width: 16.5rem;
  height: 10.5rem;
  gap: 1.875rem;

  div {
    @include flex(column, center, center);
  }
}

.urgent {
  @include flex(row, center, center);
  width: 35rem;
  height: 10.5rem;
  gap: 3.8125rem;
}

.board-progress-feedback {
  @include flex(column, center, center);
  width: 10.5rem;
  height: 10.5rem;

  span {
    @include padding(0, 0.9375rem, 0, 0.9375rem);
    text-align: center;
  }
}

.task-amount {
  @include font(4rem, 600, 4.8rem);
}

.task-type {
  @include font(1.25rem, 400, 1.5rem);
}

.urgent-amount-container {
  @include flex(row, center, center);
  gap: 1.875rem;
}

.urgent-amount-text {
  @include flex(column, center, center);
}

.urgent-middle-line {
  @include border(0.0625rem, solid, #d1d1d1);
  height: 6.375rem;
}

.task-deadline-container {
  @include flex(column, center, flex-start);
  gap: 0.8125rem;
}

// .task-deadline {
//   @include font(1rem, 400, 1.2rem);
// }

.task-deadline-date {
  @include font(1.3125rem, 700, 1.575rem);
}
