<div class="summary-display-container">
  <div class="top container">
    <div class="to-do-done summary-display">
      <img src="assets/img/to-do.png" alt="to do" />
      <div>
        <span class="task-amount">0</span>
        <span class="task-type">To-do</span>
      </div>
    </div>
    <div class="to-do-done summary-display">
      <img src="assets/img/done.png" alt="done" />
      <div>
        <span class="task-amount">0</span>
        <span class="task-type">Done</span>
      </div>
    </div>
  </div>

  <div class="middle">
    <div class="urgent summary-display">
      <div class="urgent-amount-container">
        <img src="assets/img/urgent.png" alt="urgent" />
        <div class="urgent-amount-text">
          <span class="task-amount">0</span>
          <span class="task-type">Done</span>
        </div>
      </div>
      <div class="urgent-middle-line"></div>
      <div class="task-deadline-container">
        <span class="task-deadline-date">Date</span>
        <span class="task-deadline">Upcoming Deadline</span>
      </div>
    </div>
  </div>

  <div class="bottom container">
    <div class="board-progress-feedback summary-display">
      <span class="task-amount">0</span>
      <span class="task-type">Tasks in Board</span>
    </div>
    <div class="board-progress-feedback summary-display">
      <span class="task-amount">0</span>
      <span class="task-type">Tasks in Progress</span>
    </div>
    <div class="board-progress-feedback summary-display">
      <span class="task-amount">0</span>
      <span class="task-type">Awaiting Feedback</span>
    </div>
  </div>
</div>
