@import "../../../../../shared/styles/mixins";

.summary-display-container {
  @include flex(column, space-between, center);
  width: 100%;
  max-width: 35rem;
  height: 35rem;
}

.container {
  @include flex(row, space-between, space-between);
}

.summary-display {
  background-color: var(--color-white);
  box-shadow: 0px 0px 0.25rem 0px var(--color-black) 0001a;
  border-radius: 1.875rem;
}

.hover {
  &:hover {
    background-color: var(--color-blue-ebony);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);

    span,
    output,
    time {
      color: var(--color-white);
    }
  }
}

.top {
  width: 100%;
  height: 30%;
}

.middle {
  width: 100%;
  height: 30%;
}

.bottom {
  width: 100%;
  height: 30%;
}

.to-do-done {
  @include flex(row, center, center);
  width: 47%;
  height: 100%;
  gap: 1.875rem;

  div {
    @include flex(column, center, center);
  }
}

.urgent {
  @include flex(row, center, center);
  width: 100%;
  height: 100%;
  gap: 3.8125rem;
}

.board-progress-feedback {
  @include flex(column, center, center);
  width: 30%;
  height: 100%;

  span {
    @include padding(0, 0.9375rem, 0, 0.9375rem);
    text-align: center;
  }
}

.task-amount {
  @include font(4rem, 600, 4.8rem);
}

.task-type {
  @include font(1.25rem, 400, 120%);
}

.urgent-amount-container {
  @include flex(row, center, center);
  gap: 1.875rem;
}

.urgent-amount-text {
  @include flex(column, center, center);
}

.urgent-middle-line {
  @include border(0.0625rem, solid, var(--color-gray-500));
  height: 6.375rem;
}

.task-deadline-container {
  @include flex(column, center, flex-start);
  gap: 0.8125rem;
}

.task-deadline-date {
  @include font(1.3125rem, 700, 120%);
}

@media (max-height: 53.75rem) or (max-width: 79.9375rem) {
  .summary-display-container {
    height: 30rem;
  }
}

@media (max-width: 38.9375rem) {
  .task-amount {
    @include font(2.9375rem, 600, 4.8rem);
  }

  .task-type {
    @include font(0.875rem, 400, 1.5rem);
  }

  .urgent {
    gap: 1.25rem;
  }

  .task-deadline-date {
    @include font(1rem, 700, 120%);

    span {
      @include font(0.875rem, 400, 120%);
    }
  }
}
