@import "../../../../../../shared/styles/mixins";

.contact-header {
  @include flex(row, flex-start, center);
  gap: 3.375rem;

  h2 {
    @include font(2.9375rem, 500, 120%, var(--color-black));
  }
}

.contact-data {
  @include flex(column, flex-start, flex-start);
  width: 100%;
  height: 100%;
  gap: 1.3125rem;
  position: relative;
}

.initials {
  @include flex(row, center, center);
  @include font(2.9375rem, 500, 1.2rem, var(--color-white));
  @include border(0.1875rem, solid, var(--color-white));
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  box-shadow: 0px 0px 4px 0px var(--color-black) 0001a;
  background-color: var(--color-blue-100);
}

.edit-delete {
  @include flex(row, flex-start, center);
  gap: 1.875rem;

  div {
    @include flex(row, flex-start, center);
    @include font(1rem, 400, 120%, var(--color-blue-ebony));
    gap: 0.8125rem;
    cursor: pointer;
  }
}

h3 {
  @include font(1.25rem, 400, 120%, var(--color-black));
  @include padding(1.875rem, 0, 1.875rem, 0);
}

.contact-info {
  @include flex(column, flex-start, flex-start);
  gap: 1.375rem;

  h4 {
    @include font(1rem, 700, 120%, var(--color-black));
  }

  p {
    @include font(1rem, 400, 120%, var(--color-black));
  }

  .email-address {
    color: var(--color-blue-200);
  }
}

.email,
.phone {
  @include flex(column, flex-start, flex-start);
  gap: 0.9375rem;
}

.delete-contact {
  @include flex(column, center, center);
  @include font(1.25rem, 700, 120%, var(--color-white));
  @include padding(1.875rem, 60px, 1.875rem, 60px);
  border-radius: 1.875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 0.8125rem;
  background-color: var(--color-blue-ebony);
  z-index: 500;
  box-shadow: 0px 0px 4px 0px var(--color-black) 0001a;
}

.buttons {
  @include flex(row, center, center);
  width: 100%;
  gap: 1.875rem;

  button {
    color: var(--color-black);
    background-color: var(--color-white);

    &:hover {
      transition: all 0.1s ease-in-out;
      transform: scale(1.05);
    }
  }
}

.contact-edit-delete-menu {
  display: none;
}

@media (max-height: 53.75rem) or (max-width: 79.9375rem) {
  .contact-header {
    gap: 1.25rem;

    h2 {
      @include font(2.25rem, 500, 120%, var(--color-black));
    }
  }

  .contact-data {
    gap: 0.625rem;
  }

  .initials {
    @include font(1.6875rem, 500, 1.2rem, var(--color-white));
    width: 5rem;
    height: 5rem;
  }

  .edit-delete {
    display: none;
  }

  h3 {
    @include font(1.25rem, 400, 120%, var(--color-black));
  }

  .contact-edit-delete-menu {
    display: flex;
    padding: 0.75rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--color-blue-ebony);
    border-radius: 50%;
    cursor: pointer;

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  .edit-delete-mobile {
    @include flex(column, center, center);
    @include padding(0.625rem, 0.625rem, 0.625rem, 0.625rem);
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    box-shadow: 0px 4px 4px 0px var(--color-black) 00040;
    background-color: var(--color-white);
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
  }

  .edit-mobile,
  .delete-mobile {
    @include flex(row, flex-start, center);
    @include padding(0.5rem, 0.5rem, 0.5rem, 0.5rem);
    gap: 0.5rem;
    width: 6rem;
    cursor: pointer;

    &:hover {
      background-color: var(--color-gray-700);
      border-radius: 5px;
      transition: all 0.1s ease-in-out;
      transform: scale(1.05);
    }
  }
}
