<section class="add-task-container">
  <header class="task-header">
    <h2>
      @if (!editTask()) {
        Add Task
      } @else {
        Update Task
      }
    </h2>
    <img src="assets/img/cancel.png" alt="Close Button" (click)="closeForm(); $event.stopPropagation()" />
  </header>
  <app-task-form (submit)="addTask()"></app-task-form>
  <footer class="task-footer">
    <span class="required-text"><span class="red">*</span>This field is required</span>
    <div class="buttons">
      @if (!editTask()) {
        <button
          appButton
          class="clear button"
          (click)="clearTask()"
          (mouseover)="clearButtonHover = true"
          (mouseleave)="clearButtonHover = false">
          Clear
          <span ngProjectAs="[icon]"
            ><img [src]="clearButtonHover ? 'assets/img/cancel-blue.png' : 'assets/img/cancel.png'" alt=""
          /></span>
        </button>
      }

      <button appButton class="create button" (click)="editTask() ? updateTask() : addTask(); $event.stopPropagation()">
        @if (!editTask()) {
          Create Task
        } @else {
          Update Task
        }
        <span ngProjectAs="[icon]"><img src="assets/img/check.png" alt="checkmark" /></span>
      </button>
    </div>
  </footer>
</section>
