@import "../../../../shared/styles/mixins";

.user {
  @include flex(row, center, center);
  @include border(0.1875rem);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-weight: 700;
  cursor: pointer;
}
