<div class="user">
  <!-- <a (click)="signOut()"> -->
  <span (click)="toggleUserMenu()">{{ userName() }}</span>
  <!-- </a> -->

  @if (menuOpen) {
    <nav class="menu">
      <!-- <li [routerLink]="['/help']" (click)="toggleUserMenu()">Help</li> -->
      <span [routerLink]="['/legal-notice']" (click)="toggleUserMenu()">
        Legal Notice
      </span>
      <span [routerLink]="['/privacy-policy']" (click)="toggleUserMenu()">
        Privacy Policy
      </span>
      <span (click)="signOut()">Log out</span>
    </nav>
  }
</div>
