<section class="contacts-container">
  <div class="add-contact">
    <button appButton (click)="addContact()">
      Add new contact
      <span ngProjectAs="[icon]">
        <img src="assets/img/person_add.png" alt="Add new contact" />
      </span>
    </button>
  </div>

  @for (letter of getGroupedLetters(); track letter) {
    <div class="contact-group">
      <span class="group-header">{{ letter }}</span>

      @for (contact of groupedContacts()[letter]; track contact.id) {
        <div class="contact">
          <span
            class="initials"
            [style]="
              'background-color: ' + getContactColor(contact.displayName)
            "
            >{{ getContactInitials(contact.displayName) }}</span
          >
          <div class="contact-info">
            <span>{{ contact.displayName }}</span>
            <span>{{ contact.email }}</span>
          </div>
        </div>
      }
    </div>
  }
</section>
