<section class="contacts-container">
  <div class="add-contact">
    <button appButton (click)="addContact()">
      Add new contact
      <span ngProjectAs="[icon]">
        <img src="assets/img/person_add.png" alt="Add new contact" />
      </span>
    </button>
  </div>

  @for (letter of getGroupedLetters(); track letter) {
    <div class="contact-group">
      <span class="group-header">{{ letter }}</span>

      @for (contact of groupedContacts()[letter]; track contact.id) {
        <div class="contact">
          <!-- <app-contact [contact]="contact" /> -->
          <span>{{ contact.displayName }}</span>
        </div>
      }
    </div>
  }
</section>
