<main class="board">
  <header class="board-header">
    <h1>Board</h1>
    <div class="search-and-create">
      <div class="search-container">
        <input type="text" class="find-task" placeholder="Find Task" />
        <div class="search-image" aria-hidden="true">
          <span class="line"></span>
          <img src="assets/img/search.png" alt="Search Button" />
        </div>
      </div>
      <button appButton>
        Add task
        <span ngProjectAs="[icon]"
          ><img src="assets/img/add.png" alt="checkmark"
        /></span>
      </button>
    </div>
  </header>

  <section class="board-main">
    <app-board-task-container
      [status]="TODO"
      [title]="TODO"
    ></app-board-task-container>
    <app-board-task-container
      [status]="IN_PROGRESS"
      [title]="IN_PROGRESS"
    ></app-board-task-container>
    <app-board-task-container
      [status]="AWAITING_FEEDBACK"
      [title]="AWAITING_FEEDBACK"
    ></app-board-task-container>
    <app-board-task-container
      [status]="DONE"
      [title]="DONE"
    ></app-board-task-container>
  </section>
</main>
