<main class="board">
  <header class="board-header">
    <div class="header-mobile">
      <h1>Board</h1>
      <button
        class="add-task-mobile"
        appButton
        (click)="toggleAddTaskAndSetStatus('To Do')"
      >
        <span ngProjectAs="[icon]"
          ><img src="assets/img/add.png" alt="Add Task"
        /></span>
      </button>
    </div>
    <div class="search-and-create">
      <div class="search-container">
        <input
          type="text"
          class="find-task"
          placeholder="Find Task"
          (input)="searchTask($event)"
        />
        <div class="search-image" aria-hidden="true">
          <span class="line"></span>
          <img src="assets/img/search.png" alt="Search" />
        </div>
      </div>
      <button
        class="add-task"
        appButton
        (click)="toggleAddTaskAndSetStatus('To Do')"
      >
        Add task
        <span ngProjectAs="[icon]"
          ><img src="assets/img/add.png" alt="Add Task"
        /></span>
      </button>
    </div>
  </header>

  <section class="board-main">
    <app-board-task-container
      id="todo"
      [status]="TODO"
      [title]="TODO"
    ></app-board-task-container>
    <app-board-task-container
      id="in-progress"
      [status]="IN_PROGRESS"
      [title]="IN_PROGRESS"
    ></app-board-task-container>
    <app-board-task-container
      id="awaiting-feedback"
      [status]="AWAITING_FEEDBACK"
      [title]="AWAITING_FEEDBACK"
    ></app-board-task-container>
    <app-board-task-container
      id="done"
      [status]="DONE"
      [title]="DONE"
    ></app-board-task-container>
  </section>

  @if (editTask()) {
    <div class="edit-task-overlay">
      <app-edit-task></app-edit-task>
    </div>
  }

  @if (addTaskToBoard()) {
    <div class="add-task-overlay">
      <app-add-task-from-board></app-add-task-from-board>
    </div>
  }

  <!-- @if (showDeleteTask()) {
    <div class="delete-task">
      <h4>Are you sure you want to delete this contact?</h4>
      <div class="buttons">
        <button appButton class="cancel" (click)="closeDeleteModal()">
          Cancel
        </button>
        <button appButton class="delete" (click)="deleteTask(selectedTask()!)">
          Delete
        </button>
      </div>
    </div>
  } -->
</main>
