@import "../../../shared/styles/mixins";

:host {
  @include flex(row, center, center);
  @include padding(0.9375rem, 1.5rem, 0.9375rem, 1.5rem);
  @include border(0.0625rem, solid, #2a3647);
  @include font(1.3125rem, 700, 1.575rem, #fff);
  border-radius: 0.625rem;
  background-color: #2a3647;
  gap: 0.25rem;
  cursor: pointer;

  &:hover {
    @include border(0.0625rem, solid, #29abe2);
    background-color: #29abe2;
  }
}

:host ::ng-deep .icon span {
  display: flex;
}
