:host {
  width: 100%;
  height: 100%;
  display: flex;
}

// .contacts-left-container {
//   width: 35%;
//   height: 100%;
// }

// .contacts-right-container {
//   width: 65%;
//   height: 100%;
// }
