<section class="contacts-page">
  <app-contacts-container></app-contacts-container>

  <div class="information">
    <app-contacts-information></app-contacts-information>
  </div>

  @if (addContact() || editContact()) {
    <app-contact-form-container></app-contact-form-container>
  }

  @if (contactCreatedOrUpdated() === "Created") {
    <div class="contact-create-update">Contact successfully created</div>
  } @else if (contactCreatedOrUpdated() === "Updated") {
    <div class="contact-create-update">Contact successfully updated</div>
  }
</section>
