@use "../../../../../shared/styles/mixins";

:host {
  height: 100%;
}

.contact-form-container {
  @include mixins.flex(column, center, center);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.contact-form-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.5;
}

.contact-form-container > * {
  position: relative;
  z-index: 100;
}

.form {
  @include mixins.flex(row, space-between, center);
  width: 95%;
  height: 37rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 1.875rem;
}

.form-left-side {
  @include mixins.flex(row, center, center);
  width: 100%;
  height: 100%;
  background-color: var(--color-blue-ebony);
  border-top-left-radius: 1.875rem;
  border-bottom-left-radius: 1.875rem;

  img {
    width: 3.375rem;
  }

  h2 {
    @include mixins.font(3.8125rem, 700, 120%, var(--color-white));
  }

  p {
    @include mixins.font(1.25rem, 400, 120%, var(--color-white));
  }
}

.title {
  @include mixins.flex(column, center, flex-start);
  gap: 1rem;
}

.blue-line {
  width: 5.625rem;
  height: 0.1875rem;
  background-color: var(--color-blue-100);
}

.form-middle {
  @include mixins.flex(column, center, center);
  @include mixins.padding(0, 4rem, 0, 4rem);
  height: 100%;
  background-color: var(--color-white);
}

.image {
  @include mixins.flex(column, center, center);
  @include mixins.border(0.1875rem, solid, var(--color-white));
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;

  img {
    width: 4rem;
    height: 4rem;
  }
}

.initials {
  @include mixins.flex(row, center, center);
  @include mixins.font(2.9375rem, 500, 1.2rem, var(--color-white));
}

.form-right-side {
  @include mixins.flex(column, center, center);
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  border-top-right-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
}

.close {
  @include mixins.flex(row, flex-end, center);

  position: absolute;
  top: 3rem;
  right: 3rem;
  z-index: 1000;

  img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}

.close-mobile {
  display: none;
}

@media (max-width: 81.25rem) {
  .form-left-side {
    h2 {
      @include mixins.font(3rem, 700, 120%, var(--color-white));
    }
  }
}

@media (max-height: 43.75rem) or (max-width: 79.9375rem) {
  .form {
    @include mixins.flex(column, unset, unset);
    width: 95%;
    height: 90%;
    position: relative;
    overflow-y: scroll;
  }

  .form-left-side {
    @include mixins.flex(column, center, flex-start);
    @include mixins.padding(4.125rem, 1.5rem, 4.125rem, 1.5rem);
    border-top-left-radius: 1.875rem;
    border-top-right-radius: 1.875rem;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    height: 45%;
    min-height: 21.375rem;

    img {
      display: none;
    }
  }

  .form-right-side {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    border-bottom-left-radius: 1.875rem;
    border-bottom-right-radius: 1.875rem;
    height: 55%;
    min-height: 26.125rem;
  }

  .form-middle {
    @include mixins.padding(0, 0, 0, 0);
    height: unset;
    background-color: unset;
    position: absolute;
    top: clamp(21.375rem, 45%, 9999px);
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title {
    height: 21.375rem;
  }

  .close {
    display: none;
  }

  .close-mobile {
    @include mixins.flex(row, flex-end, center);
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1000;

    img {
      display: block;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }
  }
}
