<section class="contact-form-container">
  <div class="form">
    <div class="form-left-side">
      <article class="title">
        <img src="assets/img/logo-white.png" alt="" />
        <h2>{{ addContact() ? "Add" : "Edit" }} Contact</h2>
        <div class="blue-line" aria-hidden="true"></div>
      </article>
    </div>

    <div class="form-middle">
      <div
        class="image"
        [style.background-color]="
          addContact() ? '#d2d2d2' : getContactColor(showContact()!.displayName)
        "
      >
        @if (addContact()) {
          <img src="assets/img/person_white.png" alt="Add new contact" />
        } @else if (editContact()) {
          <span class="initials">{{
            getContactInitials(showContact()!.displayName)
          }}</span>
        }
      </div>
    </div>

    <div class="form-right-side">
      @if (addContact()) {
        <app-contact-form [contact]="addNewContact"></app-contact-form>
      } @else if (editContact()) {
        <app-contact-form [contact]="editExistingContact"></app-contact-form>
      }
    </div>
  </div>
</section>
