@use "../../../../../../shared/styles/mixins";

p {
  @include mixins.font(0.75rem, 400, 0.9rem, var(--color-pink));

  &.visible {
    visibility: visible;
  }

  &.hidden {
    visibility: hidden;
  }
}

.pr-input-container {
  width: 100%;
  position: relative;

  .input-icon {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.task-input-textarea {
  @include mixins.flex(column, center, flex-start);
  width: 100%;
  gap: 0.5rem;

  textarea {
    min-width: 100%;
    height: 7.5rem;
    resize: none;
    overflow-y: auto;
  }

  input,
  textarea {
    @include mixins.font(1.25rem, 400, 1.5rem);
    @include mixins.border(0.0625rem, solid, var(--color-gray-500));
    @include mixins.padding(0.75rem, 1.3125rem, 0.75rem, 1.3125rem);
    width: 100%;
    border-radius: 0.625rem;
    background-color: var(--color-white);

    &::placeholder {
      color: var(--color-gray-500);
    }

    &:focus {
      outline: none;
    }
  }

  input[type="date"] {
    cursor: pointer;
  }
}

.assigned-to,
.category {
  input {
    position: relative;
    z-index: 10;
    cursor: pointer;
  }
}

.dropdown-container {
  img {
    z-index: 15;
  }
}

.dropdown {
  @include mixins.flex(column, flex-start, flex-start);
  @include mixins.padding(0.75rem, 0, 0, 0);
  position: absolute;
  top: 2.8125rem;
  width: 100%;
  max-height: 12.5rem;
  overflow-y: auto;
  background-color: var(--color-white);
  border-radius: 0.625rem;
  z-index: 5;
  box-shadow: 0px 0px 14px 3px var(--color-black) 0000a;
}
