<form
  class="task-form"
  name="taskForm"
  (onSubmit)="onSubmit()"
  [formGroup]="taskForm"
>
  <div class="task-form-left-side">
    <div class="title task-div">
      <span>Title<span class="red">*</span></span>
      <input
        type="text"
        name="title"
        placeholder="Enter a title"
        formControlName="title"
      />
    </div>
    <div class="description task-div">
      <span>Description</span>
      <textarea
        type="text"
        name="description"
        placeholder="Enter a description"
        formControlName="description"
      ></textarea>
    </div>
    <div class="assigned-to task-div">
      <span>Assigned to</span>
      <div class="input-container pointer">
        <select name="assignedTo" id="assignedTo" class="assigned-to task-div">
          <option value="">Select contacts to assign</option>
        </select>
        <img src="assets/img/arrow_dropdown_down.png" alt="Assign users" />
      </div>
    </div>
  </div>
  <div class="task-form-middle-line"></div>
  <div class="task-form-right-side">
    <div class="due-date task-div">
      <span>Due date<span class="red">*</span></span>
      <input
        type="date"
        name="dueDate"
        placeholder="dd/mm/yyyy"
        formControlName="dueDate"
      />
    </div>
    <div class="priority task-div">
      <span>Prio</span>
      <div class="priority-select">
        <span [class]="urgent ? 'urgent' : ''" (click)="setPriority('Urgent')"
          >Urgent
          <img
            [src]="
              urgent
                ? 'assets/img/prio-urgent-active.png'
                : 'assets/img/prio-urgent.png'
            "
            alt=""
        /></span>
        <span [class]="medium ? 'medium' : ''" (click)="setPriority('Medium')"
          >Medium
          <img
            [src]="
              medium
                ? 'assets/img/prio-medium-active.png'
                : 'assets/img/prio-medium.png'
            "
            alt=""
        /></span>
        <span [class]="low ? 'low' : ''" (click)="setPriority('Low')"
          >Low
          <img
            [src]="
              low ? 'assets/img/prio-low-active.png' : 'assets/img/prio-low.png'
            "
            alt=""
        /></span>
      </div>
    </div>
    <div class="category task-div">
      <span>Category<span class="red">*</span></span>
      <div class="input-container pointer">
        <select name="category" id="category" formControlName="category">
          <option value="">Select task category</option>
          <option value="Work">Work</option>
        </select>
        <img src="assets/img/arrow_dropdown_down.png" alt="Choose category" />
      </div>
    </div>
    <div class="subtasks task-div">
      <span>Subtasks</span>
      <div class="input-container">
        <input type="text" name="subtasks" placeholder="Add new subtasks" />
        <img src="assets/img/subtasks_add.png" alt="Add subtask" />
      </div>
    </div>
  </div>
</form>
