<div class="task-form-container">
  <div class="task-form-left-side task-form-grid">
    <div class="title task-div">
      <span>Title</span>
      <input type="text" />
    </div>
    <div class="description task-div">
      <span>Description</span>
      <textarea type="text"></textarea>
    </div>
    <div class="assigned-to task-div">
      <span>Assigned to</span>
      <select name="assignedTo" id="assignedTo" class="assigned-to task-div">
        <option value="">Select contacts to assign</option>
      </select>
    </div>
  </div>
  <div class="task-form-middle-line"></div>
  <div class="task-form-right-side task-form-grid">
    <div class="due-date task-div">
      <span>Due date<span class="red">*</span></span>
      <input type="date" />
    </div>
    <div class="priority task-div">
      <span>Prio</span>
      <div class="priority-select">
        <span>Urgent <img src="" alt="" /></span>
        <span>Medium <img src="" alt="" /></span>
        <span>Low <img src="" alt="" /></span>
      </div>
    </div>
    <div class="category task-div">
      <span>Category<span class="red">*</span></span>
      <select name="category" id="category"></select>
    </div>
    <div class="subtasks task-div">
      <span>Subtasks</span>
      <input type="text" />
    </div>
  </div>
</div>
