@import "../../../../../shared/styles/mixins";
@import "./styles/shared-form";

.task-form {
  @include flex(row, space-between, center);
  @include font(1.25rem, 400, 1.5rem);
  width: 100%;
  height: 100%;
}

.task-form-left-side {
  @include flex(column, none, flex-start);
  width: 45%;
  height: 100%;
  gap: 2rem;
}

.task-form-right-side {
  @include flex(column, none, flex-start);
  width: 45%;
  height: 100%;
  gap: 1rem;
}

.task-form-middle-line {
  @include border(0.0625rem, solid, #d1d1d1);
  height: 100%;
}
