@use "../../../../../shared/styles/mixins";
@use "styles/shared-form";

.task-form {
  @include mixins.flex(row, space-between, center);
  @include mixins.font(1.25rem, 400, 1.5rem);
  width: 100%;
  height: 100%;
}

.task-form-left-side {
  @include mixins.flex(column, unset, flex-start);
  width: 45%;
  height: 100%;
  gap: 2rem;
}

.task-form-right-side {
  @include mixins.flex(column, unset, flex-start);
  width: 45%;
  height: 100%;
  gap: 1rem;
}

.task-form-middle-line {
  @include mixins.border(0.0625rem, solid, var(--color-gray-500));
  height: 100%;
}

@media (max-height: 53.75rem) or (max-width: 79.9375rem) {
  .task-form {
    @include mixins.flex(column, center, center);
    gap: 1rem;
  }

  .task-form-middle-line {
    display: none;
  }

  .task-form-left-side,
  .task-form-right-side {
    width: 90%;
    max-width: 45rem;
  }
}
