<div class="edit-task">
  <div class="category">
    <span
      class="category-text"
      [style.backgroundColor]="
        selectedTask()?.category === 'User Story' ? '#0038FF' : '#1FD7C1'
      "
      >{{ selectedTask()?.category }}</span
    >
    <img src="assets/img/cancel.png" alt="" (click)="closeForm()" />
  </div>
  <!-- <article class="task-details"> -->
  <h2 class="title">{{ selectedTask()?.title }}</h2>
  <p class="description">{{ selectedTask()?.description }}</p>
  <div class="task-type-text">
    <span> Due date: </span>
    <p>{{ selectedTask()?.dueDate }}</p>
  </div>
  <div class="task-type-text">
    <span>Priority:</span>
    <p>
      {{ selectedTask()?.priority }}
      <img [src]="'assets/img/prio-' + selectedPriority + '.png'" alt="" />
    </p>
  </div>
  <div class="assigned-to-container">
    <span>Assigned to:</span>
    <div class="assigned-contacts">
      @for (assigned of selectedTask()?.assignedTo; track $index) {
        <div class="assigned">
          <span
            class="assigned-initials"
            [style]="
              'background-color: ' + getContactColor(assigned.displayName)
            "
            >{{ getContactInitials(assigned.displayName) }}</span
          >
          @if (assigned.displayName === user()?.displayName) {
            <span class="assigned-name">{{ assigned.displayName }} (You)</span>
          } @else {
            <span class="assigned-name">{{ assigned.displayName }}</span>
          }
        </div>
      }
    </div>
  </div>
  <div class="subtasks-container">
    <span>Subtasks</span>
    <div class="subtasks">
      <!-- @for (subtask of selectedTask()?.subtask?.open; track subtask.id) {
        <div class="subtask" (click)="toggleSubtaskStatus(subtask, true)">
          <img src="assets/img/checkmark-normal-empty.png" alt="" />
          <span class="subtask-title">{{ subtask.subtaskValue }}</span>
        </div>
      }
      @for (subtask of selectedTask()?.subtask?.done; track subtask.id) {
        <div class="subtask" (click)="toggleSubtaskStatus(subtask, false)">
          <img src="assets/img/checkmark-normal-marked.png" alt="" />
          <span class="subtask-title">{{ subtask.subtaskValue }}</span>
        </div>
      } -->
      @for (subtask of sortedSubtasks(); track subtask.id) {
        <div class="subtask" (click)="toggleSubtaskStatus(subtask)">
          <img
            src="assets/img/{{
              subtask.done
                ? 'checkmark-normal-marked.png'
                : 'checkmark-normal-empty.png'
            }}"
            alt=""
          />
          <span class="subtask-title">{{ subtask.subtaskValue }}</span>
        </div>
      }
    </div>
  </div>
  <!-- </article> -->

  <div class="bottom">
    <span class="delete" (click)="deleteTask(selectedTask()!)"
      ><img src="assets/img/delete.png" alt="" /> Delete</span
    >
    <div class="bottom-divider" aria-hidden="true"></div>
    <span class="edit"><img src="assets/img/edit.png" alt="" /> Edit</span>
  </div>
</div>
