@import "../../../../../shared/styles/mixins";

:host {
  @include flex(row, center, center);
}

.edit-task {
  @include flex(column, flex-start, flex-start);
  @include padding(3rem, 2.5rem, 3rem, 2.5rem);
  width: 525px;
  // height: 600px;
  border-radius: 1.875rem;
  gap: 1.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px #00000029;

  h2 {
    @include font(3.8125rem, 700, 120%, #000);
  }

  p {
    @include font(1.25rem, 400, 120%, #000);
  }
}

.category {
  @include flex(row, space-between, center);
  width: 100%;

  span {
    @include font(1.4375rem, 400, 120%, #fff);
    @include padding(0.25rem, 1.5rem, 0.25rem, 1.5rem);
    border-radius: 0.5rem;
  }

  img {
    cursor: pointer;
  }
}

// .task-details {
//   @include flex(column, flex-start, flex-start);
//   width: 100%;

//   h2 {
//     @include font(3.8125rem, 700, 120%, #000);
//   }

//   p {
//     @include font(1.25rem, 400, 120%, #000);
//   }
// }

.task-type-text {
  @include flex(row, flex-start, center);
  width: 100%;
  gap: 0.5rem;

  span {
    @include font(1.25rem, 400, 120%, #2a3647);
    width: 25%;
  }

  p {
    @include font(1.25rem, 400, 120%, #000);
  }
}

.subtasks {
  @include flex(column, center, flex-start);
  @include font(1.25rem, 400, 120%, #2a3647);
  //   gap: 1rem;
}

.subtask {
  @include flex(row, flex-start, center);
  @include font(1rem, 400, 120%, #000);
  @include padding(0.375rem, 1rem, 0.375rem, 1rem);
  width: 100%;
  gap: 1rem;
  cursor: pointer;
}

.bottom {
  @include flex(row, flex-end, center);
  width: 100%;
  gap: 0.5rem;

  span {
    @include flex(row, center, center);
    @include font(1rem, 400, 120%, #2a3647);
    gap: 0.5rem;
  }
}

.bottom-divider {
  width: 1px;
  height: 24px;
  background-color: #d1d1d1;
}
