@import "../../../../../shared/styles/mixins";

:host {
  @include flex(column, center, center);
  width: 65%;
  height: 100%;
}

.contacts-information {
  @include flex(column, center, center);
  width: 80%;
  height: 80%;
}
