<section class="contact-information">
  <article class="contact-header">
    <div class="title">
      <h1>Contacts</h1>
      <div class="close-contact-information">
        <img
          (click)="closeContact()"
          src="../assets/img/arrow-blue.png"
          alt="Close Contact Information"
        />
      </div>
    </div>
    <div class="blue-line" aria-hidden="true"></div>
    <p>Better with a team</p>
    <div class="blue-line-mobile" aria-hidden="true"></div>
  </article>

  @if (showContact() !== null) {
    <app-contact-details></app-contact-details>
  }
</section>
