<div class="assigned-to task-input-textarea" [formGroup]="taskForm()">
  <span>Assigned to</span>
  <div class="pr-input-container dropdown-container">
    <input
      name="assignedTo"
      id="assignedTo"
      placeholder="Select contacts to assign"
      formControlName="assignedTo"
      (click)="toggleAssignedTo()"
      (input)="searchContacts($event)"
    />
    <img
      class="input-icon"
      [src]="
        assignedToOpen
          ? 'assets/img/arrow_dropdown_up.png'
          : 'assets/img/arrow_dropdown_down.png'
      "
      alt="Assign users"
    />
    @if (assignedToOpen && filteredContacts().length > 0) {
      <div class="dropdown">
        @for (contact of filteredContacts(); track contact) {
          <div
            [class]="
              assignedToTask().includes(contact)
                ? 'assigned-to-item selected'
                : 'assigned-to-item'
            "
            (click)="assignContactToTask(contact)"
          >
            <div class="contact-item">
              <span
                class="contact-initials"
                [style]="'background-color: ' + contact.color"
                >{{ contact.initials }}</span
              >
              <span class="contact-name">{{ contact.displayName }} </span>
              <img
                [src]="
                  assignedToTask().includes(contact)
                    ? 'assets/img/checkmark-checked-white.png'
                    : 'assets/img/checkmark-assigned-to.png'
                "
                alt=""
              />
            </div>
          </div>
        }
      </div>
    } @else if (assignedToOpen && filteredContacts().length == 0) {
      <div class="dropdown no-results">No contacts found</div>
    }
  </div>

  <div class="assigned-to-list">
    @for (contact of assignedToTask(); track contact) {
      <span
        (click)="removeContactFromTask(contact)"
        [style]="'background-color: ' + contact.color"
      >
        {{ contact.initials }}
      </span>
    }
  </div>
</div>
