<section class="summary-main" aria-label="Summary page">
  <div class="summary-container">
    <section class="summary-dashboard">
      <header class="headline">
        <h1 class="title">Join 360</h1>
        <span class="blue-line"></span>
        <h2 class="subtitle">Key Metrics at a Glance</h2>
        <span class="blue-line-mobile"></span>
      </header>

      <app-summary-task-form></app-summary-task-form>
    </section>

    <h2 class="greeting" aria-live="polite">
      {{ greeting }} <span>{{ userName() }}</span>
    </h2>
  </div>

  @if (isMobile && firstGreetingMobile()) {
    <div class="mobile-greeting">
      <p aria-live="polite">
        {{ greeting }} <span>{{ userName() }}</span>
      </p>
    </div>
  }
</section>
