@import "assets/font/inter.css";
@import "./app/shared/styles/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  background-color: #f6f7f8;
}

body {
  width: 100%;
  max-width: 90rem;
  color: #2a3647;
}

button {
  @include flex(row, center, center);
  @include border;
  @include font(1.3125rem, 700, 1.575rem);
  @include padding(0.9375rem, 1.5rem, 0.9375rem, 1.5rem);
  border-radius: 0.5rem;
  height: 3rem;
  background-color: #2a3647;
  color: #fff;
  gap: 0.625rem;
  cursor: pointer;
}
