<div class="user" (click)="toggleUserMenu()">
  <span>{{ userName() }}</span>

  @if (menuOpen) {
    <nav class="menu">
      <span [routerLink]="['/legal-notice']" (click)="toggleUserMenu()">
        Legal Notice
      </span>
      <span [routerLink]="['/privacy-policy']" (click)="toggleUserMenu()">
        Privacy Policy
      </span>
      @if (userName() === "G") {
        <span (click)="toggleUpgradeMenu()">Upgrade</span>
      }
      <span (click)="signOut()">Log out</span>
    </nav>
  }
</div>
